* {
    margin: 0;
    padding: 0;
}

main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    padding: 10%;
    border-radius: 15px;
}

div {
    text-align: center;
}

button {
    display: inline-block;
}